# To prevent accidentally leaking env variables to the client,
# only variables prefixed with VITE_ are exposed to your Vite-processed code.

# Application
VITE_APP_NAME='Mapsis'
VITE_APP_VERSION='0.0.2'
VITE_APP_DEBUG_MODE=true
VITE_APP_ENV='dev'

# Api
VITE_API_URL='http://api-mapsis.local'
VITE_API_URL='https://mapsis-srv.com'
VITE_API_VERSION="v1"

VITE_MAPBOX_APIKEY=""

# CDN
VITE_CDN_URL=''

# Language
VITE_DEFAULT_LANG='en'
# VITE_USE_MUI_API=true
